.titulo-bg{
    background-color: #1F6A73 !important
}

a.botao{
    background: #032C36 !important;
    color: #FFF !important;
}

ul.bicicleta-informacoes{
    background-color: #032C36 !important;
    ;
}