@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Abel';
}

/*Header*/
header {
    background-color: #00303C;
    color: white;
    width: auto;
    height: auto;
    padding: 0 5px 0 5px;
    flex: auto;
    min-width: 100px;
}

header h1 {
    font-size: 30px;
    display: inline;
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav>a {
    border: 1px solid black;

    place-content: center;
    float: right;
    display: block;
    color: white;
    margin: 0 5px 0 5px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    nav>a {
        text-align: end;
        display: block;
        float: none;
    }
}

.cabecalho {
    font-size: 'Abel', sans-serif;
    background-color: #00303C;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;

    
}
.topnav{
    overflow: hidden;
    /*Controlando o conteúdo*/
    background-color: #00303C;
}

ul{
    list-style: url("../materialize/img/icons/icons8-instagram-24.png");
}

.ul2{
    list-style-image: url("../materialize/img/icons/twitter.png");
}
.colEsq{
    width: 30%;
    font-size: 'Abel', sans-serif;
}
.footer{
    
    padding: 5px;
    text-align: center;
    background-color: #00303C;
    color: #ffff;
    margin-top: 20px;
}

.cardSocial{
    padding: 5px;
    text-align: center;
    background-color: #00303C;
    color: #ffff;
    margin-top: 30px;
    border-radius: 5px;
}
.cardQuem{
    color: #1F6A73;
    text-align: center;
    margin-top: 10px;
}
.letra{
    font-size: small;
}