@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=Abel&display=swap');

:root{
    --cor1: #00303C;
    --cor2: #1F6A73;
    --cor3: #FCF8F7;
    --font1: Abel;
    --font2: 'Jockey One';
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
body {
    color: var(--cor1);
    background: var(--cor3);
    
}
header {
    background-color: var(--cor1);
    color: white;
    padding: 20px; 
    min-height: 100%;
    
}
header > h1 {
    font-family: var(--font1);
    font-size: 4.5em;
    font-weight: 400;
    line-height: 10px;
    text-align: left;
    margin-left: 17px;
    padding-top: 10px;
    display: inline-block;
}
nav {
    font-size: 25px;
    font-weight: bold;
    float: right;
    display: block;
    margin-right: 16px;
    min-height: 40px;
    margin-top: 15px;
}
nav > a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    transition-duration: 0.5s;
    min-height: 40px;
}
nav > a:hover{
  background-color: var(--cor2);
  color: #29d4c6;
  padding: 15px;
  border-radius: 4px;
}
.textImg{
  display: grid;
    gap: 20px;
    grid-template-columns: 0.5fr;
    place-items: start;
    position: absolute;
    color: white;
    top: 100px;
    left: 50px;
    z-index: 2;
    font-family: var(--font1);
    font-size: 80px;
    text-align: left;
    font-weight: normal;
    margin: auto;
}
/* -- carousel -- */
.carousel-item {
    display: flex;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}
.cards{
    display: flex;
    font-size: 10px;
    align-items: flex-end;
}
.card{
    margin: 20px;
    border-radius: 0px;
}
main > h1{
    font-family: var(--font2);
    font-weight: bold;
    color: #1F6A73;
    display: block;
    padding: 30px 0px 0px 30px;
    font-size: 50px;
}
@media (min-width: 1800px){
.cards{
    padding: 0px 200px;
}
}
@media (mAX-width: 1500px){
    .carousel-item{
        height: 20vh;
    }
    .textImg{
        font-size: 50px;
    }
    }