/* Feito Por Pedro Henrique de Melo Batista */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? família=Abel&display=swap');

footer {
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

form {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}