@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=Abel&display=swap');

main {
    padding: 0px;
}

:root {
    --cor1: #00303C;
    --cor2: #1F6A73;
    --cor3: #FCF8F7;
    --font1: Abel;
    --font2: 'Jockey One';
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

body {
    color: var(--cor1);
    background: var(--cor3);
}

header {
    background-color: var(--cor1);
    color: white;
    padding: 20px;
    min-height: 100%;
}

header>h1 {
    font-family: var(--font1);
    font-size: 3.5em;
    font-weight: 400;
    line-height: 10px;
    text-align: left;
    margin-left: 17px;
    padding-top: 10px;
    display: inline-block;
    justify-content: left;
}

nav {
    font-size: 28px;
    float: right;
    display: block;
    margin-right: 16px;
    min-height: 40px;
    margin-top: 10px;
}

nav>a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-top: 30px;
    transition-duration: 0.5s;
    min-height: 40px;
}

article {
    margin: auto;
    width: 1000px;
}

main {}

nav>a:hover {
    background-color: var(--cor2);
    color: #29d4c6;
    padding: 15px;
    border-radius: 4px;
}

.textImg {
    display: grid;
    gap: 20px;
    grid-template-columns: 0.5fr;
    place-items: start;
    position: absolute;
    color: white;
    top: 100px;
    left: 50px;
    z-index: 2;
    font-family: var(--font1);
    font-size: 60px;
    text-align: left;
    font-weight: normal;
    margin: auto;
}

/* -- carousel -- */
.carousel-item {
    display: flex;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}

.cards {
    display: flex;
    font-size: 10px;
    justify-content: flex-end;
}

.card {
    margin: 20px;
    border-radius: 0px;
}

.textMain {
    color: #1F6A73;
    font-family: var(--font2);
    font-weight: bold;
    padding: 20px 0px 0px 50px;
}

.card-title>a {
    font-family: var(--font2);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: black;
}

.bloco {
    content: " ";
    background-color: #00303C;
    display: block;
}

.bloco {
    background-color: var(--cor2);
    width: 900px;
    height: 400px;
    display: flex;
    gap: 0px;
    margin: 50px auto;
    border-radius: 4px;
}

.detalhes>h2 {
    color: #1F6A73;
    font-family: var(--font2);
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.bloco>a {
    content: "";
    background-color: var(--cor3);
    width: 700px;
    height: 30px;
    display: flex;
    gap: 0px;
    margin: auto;
    margin-top: 330px;
    border-radius: 3px;
    text-decoration: none;
    color: #00303C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
}

footer {
    background-color: var(--cor1);
    color: white;
    padding: 1px;
}

.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
}

.footer>a {
    color: var(--cor3);
    text-decoration: none;
}

@media (max-width: 705px) {
    .carousel-item {
        height: 20vh;
    }

    .textImg {
        font-size: 25px;
        top: 90px;
    }

    main>h1 {
        font-size: 25px;
        padding-left: 30px;
    }

    .cards {
        display: grid;
        width: 30rem;
        justify-content: center;
        padding-left: 0px;
    }

    header>h1 {
        font-size: 40px;
    }

    nav {
        font-size: 17px;
    }

    .bloco {
        width: 600px;
        height: 300px;
    }

    .bloco>a {
        width: 500px;
        height: 30px;
        margin-top: 230px;
    }
}

@media (min-width: 706px) and (max-width: 1000px) {
    .textImg {
        font-size: 50px;
    }

    nav {
        font-size: 20px;
    }

    .bloco {
        width: 600px;
        height: 300px;
    }

    .bloco>a {
        width: 500px;
        height: 30px;
        margin-top: 230px;
    }

    .cards {
        justify-content: center;
    }

    .card-title {
        font-size: 30px;
        font-weight: 300px;
    }
}